body {
  position: relative;
  background-color: #1E1E1E;
  max-width: 1440px;
  overflow-x: hidden;
  margin: 0 auto;
  font-family: Lato, sans-serif;
}
@media (max-width: 1440px) {
  body {
    max-width: 1220px;
  }
}
@media (max-width: 1219px) {
  body {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  body {
    max-width: 1024px;
    margin: 0 50px;
  }
}

header {
  background-color: #2D2D2D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

a {
  color: #D5D4D6;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-decoration: none;
}

a:hover {
  color: #41C1EF;
  cursor: pointer;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

a:active {
  color: #41C1EF;
  cursor: pointer;
}

li {
  list-style-type: none;
}

main {
  background-color: #2D2D2D;
}

h4 {
  color: #2D2D2D;
  font-size: 1px;
  padding: 0 !important;
  margin: 0 !important;
}

.burger__menu {
  display: none;
}
@media (max-width: 1024px) {
  .burger__menu {
    display: block;
    margin-right: 20px;
    margin-top: 20px;
  }
}

.navigation__menu {
  margin-left: 15vw;
}
@media (max-width: 1024px) {
  .navigation__menu {
    display: none;
  }
}
.navigation__menu .navigation__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 45vw;
  min-width: 466px;
  gap: 3vw;
  margin-right: 100px;
  padding: 20px;
}
@media (max-width: 1440px) {
  .navigation__menu .navigation__menu-list {
    gap: 2vw;
  }
}
@media (max-width: 1220px) {
  .navigation__menu .navigation__menu-list {
    margin-right: 80px;
  }
}
.navigation__menu .navigation__menu-list li a {
  white-space: nowrap;
}
@media (max-width: 1220px) {
  .navigation__menu .navigation__menu-list li a {
    font-size: 16px;
  }
}

.main__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #2D2D2D;
  margin: 0;
}
@media (max-width: 1024px) {
  .main__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main__section-contacts {
  width: 40vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #D5D4D6;
}
.main__section-img {
  position: relative;
  background-image: url("../assets/img/photo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 550px;
  max-width: 100%;
  margin: 0px 0px 10px 55px;
  top: 10px;
}
@media (max-width: 1440px) {
  .main__section-img {
    height: 456px;
    margin: 0px 0px 10px 85px;
  }
}
@media (max-width: 1220px) {
  .main__section-img {
    height: 344px;
    margin: 0px 0px 10px 80px;
  }
}
@media (max-width: 1024px) {
  .main__section-img {
    height: 270px;
    margin: 0px 0px 10px 50px;
  }
}
.main__section-about {
  width: 60vw;
}

.contacts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 100px;
  max-width: 100%;
  height: 50px;
  color: #41C1EF;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  background-color: rgba(213, 212, 214, 0.2);
}
@media (max-width: 1440px) {
  .contacts__title {
    font-size: 32px;
    line-height: 38px;
    height: 45px;
  }
}
@media (max-width: 1220px) {
  .contacts__title {
    font-size: 28px;
    line-height: 34px;
    height: 40px;
    padding-left: 80px;
  }
}
@media (max-width: 1024px) {
  .contacts__title {
    font-size: 24px;
    line-height: 29px;
    height: 35px;
    padding-left: 50px;
  }
}
.contacts__title-stripe {
  display: inline-block;
  height: 50px;
  width: 30px;
  background-color: #41C1EF;
  margin-left: 10px;
}
@media (max-width: 1440px) {
  .contacts__title-stripe {
    height: 45px;
  }
}
@media (max-width: 1220px) {
  .contacts__title-stripe {
    height: 40px;
    width: 26px;
  }
}
@media (max-width: 1024px) {
  .contacts__title-stripe {
    height: 35px;
    width: 16px;
  }
}

.navigation__main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 330px;
  margin-left: 55px;
}
@media (max-width: 1220px) {
  .navigation__main-list {
    max-width: 280px;
    margin-left: 40px;
  }
}
@media (max-width: 1024px) {
  .navigation__main-list {
    max-width: 280px;
    margin-left: 50px;
    padding: 0;
  }
}
@media (max-width: 1220px) {
  .navigation__main-list li a img {
    height: 35px;
  }
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px 0px 100px 0px;
}
@media (max-width: 1220px) {
  .about__info {
    margin: 40px 80px 40px 40px;
  }
}
@media (max-width: 1024px) {
  .about__info {
    margin: 10px 50px 40px 8px;
  }
  .about__info h1 {
    padding-bottom: 30px;
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .about__info h1 {
    padding-bottom: 25px;
  }
}
.about__info-name {
  color: #41C1EF;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
@media (max-width: 1440px) {
  .about__info-name {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (max-width: 1220px) {
  .about__info-name {
    font-size: 36px;
    line-height: 43px;
  }
}
@media (max-width: 1024px) {
  .about__info-name {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.01em;
  }
}
.about__info-profile {
  color: #D5D4D6;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.05em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  padding: 14px 0 54px 0;
}
@media (max-width: 1440px) {
  .about__info-profile {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (max-width: 1220px) {
  .about__info-profile {
    font-size: 36px;
    line-height: 43px;
  }
}
@media (max-width: 1024px) {
  .about__info-profile {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.01em;
    padding: 8px 0px 20px 0px;
  }
}
.about__info-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #41C1EF;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  border: 2px solid #41C1EF;
  width: 190px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1440px) {
  .about__info-download {
    font-size: 18px;
    line-height: 22px;
    width: 171px;
    height: 45px;
  }
}

.contacts__list {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  padding: 17px 0;
  max-width: 430px;
}
@media (max-width: 1220px) {
  .contacts__list {
    font-size: 18px;
    line-height: 22px;
    padding: 12px 0;
  }
}
@media (max-width: 1024px) {
  .contacts__list {
    font-size: 16px;
    line-height: 19px;
  }
}
.contacts__list span {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.03em;
}
@media (max-width: 1220px) {
  .contacts__list span {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
}
@media (max-width: 1024px) {
  .contacts__list span {
    font-size: 16px;
    line-height: 19px;
  }
}

.contacts__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 27px 0 10px 100px;
  max-width: 430px;
}
@media (max-width: 1220px) {
  .contacts__lists {
    padding: 20px 0 1px 80px;
  }
}
@media (max-width: 1024px) {
  .contacts__lists {
    padding: 20px 0 1px 50px;
  }
}

.about__me-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
  color: #D5D4D6;
  max-width: 720px;
  margin: 0px 100px 0px 61px;
  padding: 40px 0;
}
@media (max-width: 1440px) {
  .about__me-text {
    font-size: 22px;
    line-height: 30px;
    margin: 0px 100px 0px 43px;
    padding: 30px 0;
  }
}
@media (max-width: 1220px) {
  .about__me-text {
    font-size: 18px;
    line-height: 25px;
    margin: 0px 80px 0px 43px;
    padding: 30px 0;
  }
}

.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 60px;
  max-width: 100%;
  height: 50px;
  color: #41C1EF;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  background-color: rgba(213, 212, 214, 0.2);
}
@media (max-width: 1440px) {
  .about__title {
    font-size: 32px;
    line-height: 38px;
    height: 45px;
  }
}
@media (max-width: 1220px) {
  .about__title {
    font-size: 28px;
    line-height: 34px;
    height: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 1024px) {
  .about__title {
    font-size: 24px;
    line-height: 29px;
    height: 35px;
    padding-left: 50px;
  }
}
.about__title-stripe {
  display: inline-block;
  height: 50px;
  width: 30px;
  background-color: #41C1EF;
  margin-left: 10px;
}
@media (max-width: 1440px) {
  .about__title-stripe {
    height: 45px;
  }
}
@media (max-width: 1220px) {
  .about__title-stripe {
    height: 40px;
    width: 26px;
  }
}
@media (max-width: 1024px) {
  .about__title-stripe {
    height: 35px;
    width: 16px;
  }
}

.education__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 80px;
  max-width: 100%;
  height: 50px;
  color: #41C1EF;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  background-color: rgba(213, 212, 214, 0.2);
}
@media (max-width: 1440px) {
  .education__title {
    font-size: 32px;
    line-height: 38px;
    height: 45px;
  }
}
@media (max-width: 1220px) {
  .education__title {
    font-size: 28px;
    line-height: 34px;
    height: 40px;
    padding-left: 80px;
  }
}
@media (max-width: 1024px) {
  .education__title {
    font-size: 24px;
    line-height: 29px;
    height: 35px;
    padding-left: 50px;
  }
}
.education__title-stripe {
  display: inline-block;
  height: 50px;
  width: 30px;
  background-color: #41C1EF;
  margin-left: 10px;
}
@media (max-width: 1440px) {
  .education__title-stripe {
    height: 45px;
  }
}
@media (max-width: 1220px) {
  .education__title-stripe {
    height: 40px;
    width: 26px;
  }
}
@media (max-width: 1024px) {
  .education__title-stripe {
    height: 35px;
    width: 16px;
  }
}

.education {
  background-color: #2D2D2D;
}
.education__block-info {
  color: #D5D4D6;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 100px;
}
@media (max-width: 1220px) {
  .education__block-info {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 80px;
  }
}
.education__block-info h5 {
  margin: 0;
}
.education__block-university {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
}
@media (max-width: 1440px) {
  .education__block-university {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.03em;
  }
}
.education__block-facult {
  padding-top: 20px;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
@media (max-width: 1440px) {
  .education__block-facult {
    padding-top: 16px;
  }
}
.education__block-years {
  padding-top: 20px;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
@media (max-width: 1440px) {
  .education__block-years {
    padding-top: 16px;
  }
}
.education__block-special {
  padding-top: 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
}
@media (max-width: 1440px) {
  .education__block-special {
    padding-top: 16px;
  }
}
@media (max-width: 1220px) {
  .education__block-special {
    font-size: 22px;
    line-height: 26px;
  }
}

.courses {
  background-color: #2D2D2D;
}
.courses__block {
  max-width: 1440px;
}
@media (max-width: 1440px) {
  .courses__block {
    max-width: 1220px;
  }
}
@media (max-width: 1220px) {
  .courses__block {
    max-width: 1024px;
  }
}
.courses__block-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 60px 100px 0 100px;
  padding-bottom: 60px;
}
@media (max-width: 1440px) {
  .courses__block-lists {
    margin: 40px 100px 0 100px;
    padding-bottom: 20px;
  }
}
@media (max-width: 1220px) {
  .courses__block-lists {
    margin: 30px 80px 0 80px;
    padding-bottom: 20px;
  }
}
.courses__block-lists h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 2vh;
  width: 20vw;
}
@media (max-width: 1220px) {
  .courses__block-lists h6 {
    width: 25vw;
    min-height: 1vh;
  }
}
.courses__block-list {
  max-width: 380px;
}
.courses__block-course {
  padding: 0 10px;
}
.courses__block-course a {
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 1220px) {
  .courses__block-course a {
    font-size: 16px;
  }
}
.courses__block-course a img {
  padding-right: 10px;
}

.block__bar-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 100px 10px 100px;
}
@media (max-width: 1220px) {
  .block__bar-lists {
    margin: 40px 80px 10px 80px;
  }
}

.skills__block nav ul {
  padding: 0;
}
.skills__block-line {
  color: #41C1EF;
  background: #41C1EF;
  height: 2px;
  max-width: 1240px;
  margin: 0 100px;
}
.skills__block-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #D5D4D6;
  margin: 60px 100px;
  gap: 30px;
}
@media (max-width: 1440px) {
  .skills__block-lists {
    margin: 50px 100px;
    gap: 40px;
  }
}
@media (max-width: 1220px) {
  .skills__block-lists {
    margin: 40px 80px;
    -webkit-column-gap: 150px;
       -moz-column-gap: 150px;
            column-gap: 150px;
    font-size: 18px;
  }
}
.skills__block-lists li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 293px;
  white-space: nowrap;
}
@media (max-width: 1220px) {
  .skills__block-lists li {
    width: 12vw;
  }
}
.skills__block-lists li img {
  padding-right: 10px;
}
.lang__block-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
  margin: 60px 100px;
}
@media (max-width: 1440px) {
  .lang__block-lists {
    margin: 50px 100px;
  }
}
@media (max-width: 1220px) {
  .lang__block-lists {
    margin: 40px 80px;
    gap: 40px;
  }
}
.lang__block-lists h6 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #D5D4D6;
  width: 320px;
  margin: 0px;
}
@media (max-width: 1440px) {
  .lang__block-lists h6 {
    font-size: 20px;
  }
}
@media (max-width: 1220px) {
  .lang__block-lists h6 {
    font-size: 18px;
  }
}
.lang__block-lists h6 img {
  padding-right: 10px;
}

.strength__block nav ul {
  padding: 0;
}

.project {
  background-color: #2D2D2D;
}
.project__block-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #D5D4D6;
}
@media (max-width: 1440px) {
  .project__block-text {
    font-size: 20px;
  }
}
@media (max-width: 1220px) {
  .project__block-text {
    font-size: 18px;
  }
}
.project__block-img {
  max-height: 218px;
}
@media (max-width: 1440px) {
  .project__block-img {
    max-height: 180px;
  }
}
@media (max-width: 1220px) {
  .project__block-img {
    max-height: 155px;
  }
}
.project__block-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 100px;
}
@media (max-width: 1440px) {
  .project__block-grid {
    margin: 50px 100px 40px 100px;
  }
}
@media (max-width: 1220px) {
  .project__block-grid {
    margin: 40px 80px 5px 80px;
  }
}
.project__block-card {
  max-width: 380px;
  height: 100%;
}
@media (max-width: 1440px) {
  .project__block-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1220px) {
  .project__block-card {
    margin-bottom: 30px;
  }
}
.project__block-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
}
@media (max-width: 1440px) {
  .project__block-tools {
    gap: 10px;
  }
}
@media (max-width: 1220px) {
  .project__block-tools {
    gap: 10px;
    padding-left: 30px;
    margin: 10px 0;
  }
}
@media (max-width: 1440px) {
  .project__block-tools li img {
    max-height: 30px;
  }
}
@media (max-width: 1220px) {
  .project__block-tools li img {
    max-height: 26px;
  }
}
.project__block-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project__block-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-line {
  height: 0.5px;
  max-width: 180px;
  background-color: #D5D4D6;
  margin-top: 10px;
}

.footer-line {
  background-color: #D5D4D6;
  height: 1px;
  max-width: 100%;
  margin: 0 100px;
}
@media (max-width: 1220px) {
  .footer-line {
    margin: 0 80px;
  }
}

.footer__block {
  margin-bottom: -6vh;
}
.footer__block nav {
  display: grid;
  justify-items: center;
}
.footer__block-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 360px;
}
.footer__block-links li {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #D5D4D6;
  padding-bottom: 130px;
  margin-top: 50px;
}
@media (min-width: 1440px) {
  .footer__block-links li {
    margin-top: 40px;
    padding-bottom: 110px;
  }
}
@media (min-width: 1220px) {
  .footer__block-links li {
    margin-top: 40px;
    padding-bottom: 80px;
  }
}/*# sourceMappingURL=style.css.map */